@import "../../assests/styles/index";

.TeamCardPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--ui-lightest-grey1);

  &__content {
    display: flex;
    flex-direction: row;
    height: max-content;
  }
}
