@import "../variables/variables";
@import "../fonts/fonts";

$mobile: 375px;
$desktop: 1152px;

@mixin media($size) {
    @media (min-width: $size) {
        @content;
    }
}

@mixin authTitle {
    font: 400 36px/49px 'Avenir 300', sans-serif;
}

@mixin emptyDataTitle {
    @include media($mobile) {
        font: 800 17px/25px 'Avenir 800', sans-serif;
    }
    @include media($desktop) {
        font: 500 36px/49px 'Avenir 500', sans-serif;
    }
}

@mixin emptyDataMessage {
    @include media($mobile) {
        font: 400 15px/24px 'Avenir 400', sans-serif;
    }
    @include media($desktop) {
        font: 500 24px/33px 'Avenir 500', sans-serif;
    }
}

@mixin inputLabel {
    @include media($mobile) {
        font: 500 17px/24px 'Avenir 500', sans-serif;
    }
    @include media($desktop) {
        font: 500 14px/24px 'Avenir 500', sans-serif;
    }
}

@mixin links {
    @include media($mobile) {
        font: 500 15px/24px 'Avenir 500', sans-serif;
    }
    @include media($desktop) {
        font: 500 14px/24px 'Avenir 500', sans-serif;
    }
}

@mixin submitButton {
    font: 500 15px/24px 'Avenir 500', sans-serif;
}

@mixin errorMessage {
    font: 500 12px 'Avenir 500', sans-serif;
}

@mixin cardTitle {
    @include media($mobile) {
        font: 500 15px/24px 'Avenir 500', sans-serif;
    }
    @include media($desktop) {
        font: 500 18px/25px 'Avenir 500', sans-serif;
    }
}

@mixin cardYear {
    @include media($mobile) {
        font: 400 13px/18px 'Avenir 400', sans-serif;
    }
    @include media($desktop) {
        font: 400 14px/24px 'Avenir 400', sans-serif;
    }
}

@mixin cardTitle2 {
    @include media($mobile) {
        font: 800 17px/15px 'Avenir 800', sans-serif;
    }
    @include media($desktop) {
        font: 800 36px/49px 'Avenir 800', sans-serif;
    }
}

@mixin cardLabel {
    @include media($mobile) {
        font: 800 17px/25px 'Avenir 800', sans-serif;
    }
    @include media($desktop) {
        font: 800 24px/33px 'Avenir 800', sans-serif;
    }
}
@mixin cardValue {
    @include media($mobile) {
        font: 500 15px/24px 'Avenir 500', sans-serif;
    }
    @include media($desktop) {
        font: 500 18px/25px 'Avenir 500', sans-serif;
    }
}
