@import "src/components/assests/styles/index";

.Teams-items {
    margin-bottom: 32px;
    min-height: 784px;

    &__item-wrapper {
    }
}


.TeamItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
  border-radius: 4px;
  cursor: pointer;

  @include media($mobile) {
    width: 163px;
    height: 200px;
  }
  @include media($tablet) {
    width: 235px;
    height: 300px;
  }
  @include media($large) {
    width: 364px;
    height: 380px;
  }

  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    img {
      @include media($mobile) {
        width: 60px;
        height: 50px;
      }
      @include media($tablet) {
        width: 90px;
        height: 90px;
      }
      @include media($large) {
        width: 150px;
        height: 150px;
      }
    }
  }

  .description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--ui-dark-grey);
    border-radius: 0 0 4px 4px;
    @include media($mobile) {
      height: 94px;
      padding: 0 10px;
    }
    @include media($tablet) {
      height: 100px;
      padding: 0;
    }

    .team-name {
      color: var(--ui-white);
      @include cardTitle;
      text-align: center;
    }

    .team-year {
      color: var(--ui-light-grey);
      @include cardYear;
      text-align: center;
    }
  }
}