@import "src/components/assests/styles/index";

.TeamsContainer {
  width: 100%;
  position: relative;
  min-height: 93vh;
  @include media($mobile) {
    padding: 16px 12px;
  }
  @include media($desktop) {
    padding: 32px 80px;
  }

  .fields-wrapper {
    display: flex;
    margin-bottom: 32px;
    @include media($mobile) {
      flex-direction: column;
      justify-content: center;
    }
    @include media($desktop) {
      flex-direction: row;
      justify-content: space-between;
    }

    .add-item {
      @include media($mobile) {
        width: 100%;
        margin-top: 16px;
      }
      @include media($desktop) {
        width: 104px;
        margin-top: 0;
      }
    }
  }

  .ant-row {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
  }

  &__footer-wrapper {
    display: flex;
    justify-content: space-between;

    @include media($mobile) {
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 4px 12px;
      background: var(--ui-lightest-grey1);
    }
    @include media($desktop) {
      position: static;
      bottom: 0;
    }
  }
}

.SelectorItemsPerPage {
  &__control {
    width: 88px !important;
    @include links;

    @include media($mobile) {
      height: 28px !important;
    }
    @include media($desktop) {
      height: 40px !important;
    }
  }

  &__control--is-focused {
    border-color: #D9D9D9 !important;
    box-shadow: 0 0 5px #D9D9D9 !important;
    outline: none !important;
  }

  &__control--menu-is-open {
    &__label {
      color: var(--ui-white) !important;
    }
  }

  &__menu {
    top: -189px !important;
  }

  &__indicator {
    transform: rotate(180deg);
  }
}