@import "src/components/assests/styles/index";

.PlayersContainer {
  width: 100%;
  position: relative;
  min-height: 93vh;

  @include media($mobile) {
    padding: 16px 12px;
  }
  @include media($desktop) {
    padding: 32px 80px;
  }

  .fields-wrapper {
    display: flex;
    margin-bottom: 32px;

    @include media($mobile) {
      flex-direction: column;
      justify-content: center;
    }
    @include media($desktop) {
      flex-direction: row;
      justify-content: right;
    }

    .left-fields {
      display: flex;
      flex: 1 1;
      @include media($mobile) {
        flex-direction: column;
      }
      @include media($desktop) {
        flex-direction: row;
      }
      .playersSearch {
        @include media($mobile) {
          margin: 0 0 16px 0;
        }
        @include media($desktop) {
          margin: 0 24px 0 0;
        }
      }

      .selector {
        @include media($mobile) {
          margin: 0 0 16px 0;
        }
        @include media($desktop) {
          margin: 0;
        }
      }
    }

    .right-fields {
      .add-item {
        @include media($mobile) {
          width: 100%
        }
        @include media($desktop) {
          width: 104px;
        }
      }
    }
  }

  .ant-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include media($mobile) {
      justify-content: center;
    }
    @include media($desktop) {
      justify-content: left;
    }
  }

  &__footer-wrapper {
    display: flex;
    justify-content: space-between;

    @include media($mobile) {
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 4px 12px;
      background: var(--ui-lightest-grey1);
    }
    @include media($desktop) {
      position: static;
      bottom: 0;
    }
  }

  &__items {
    margin-bottom: 32px;
    min-height: 784px;
  }
}

.Multi-selector {
  &__control {
    height: 40px !important;
    @include links;

    @include media($mobile) {
      width: auto;
    }
    @include media($desktop) {
      width: 364px !important;
    }
  }

  &__control--is-focused {
    border-color: #D9D9D9 !important;
    box-shadow: 0 0 5px #D9D9D9 !important;
    outline: none !important;
  }

  &__value-container--has-value {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    overflow-x: auto !important;
  }

  //&__value-container--has-value > div:nth-child(-n+3) {
  //
  //}
  &__multi-value {
    display: flex !important;
    align-items: center !important;
    color: var(--ui-white) !important;
    height: 24px !important;
    background-color: var(--ui-red) !important;
    border-radius: 4px !important;

    &__label {
      color: var(--ui-white) !important;
    }
  }
  //&__value-container--has-value > div:not(:nth-child(-n+3)) {
  //  .Multi-selector__multi-value {
  //    display: none
  //  }
  //}

}