@import "src/components/assests/styles/index";

.PlayersContainer {
  width: 100%;
  position: relative;
  min-height: 93vh;

  @include media($mobile) {
    padding: 16px 12px;
  }
  @include media($desktop) {
    padding: 32px 80px;
  }

  .fieldsWrapper {
    display: flex;
    margin-bottom: 32px;

    @include media($mobile) {
      flex-direction: column;
      justify-content: center;
    }
    @include media($desktop) {
      flex-direction: row;
      justify-content: right;
    }

    .leftFields {
      display: flex;
      flex: 1 1;
      @include media($mobile) {
        flex-direction: column;
      }
      @include media($desktop) {
        flex-direction: row;
      }
      .playersSearch {
        @include media($mobile) {
          margin: 0 0 16px 0;
        }
        @include media($desktop) {
          margin: 0 24px 0 0;
        }
      }

      .selector {
        @include media($mobile) {
          margin: 0 0 16px 0;
        }
        @include media($desktop) {
          margin: 0;
        }
      }
    }

    .rightFields {
      .addItem {
        @include media($mobile) {
          width: 100%
        }
        @include media($desktop) {
          width: 104px;
        }
      }
    }
  }

  .footerWrapper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    background: var(--ui-lightest-grey1);

    @include media($mobile) {
      width: 100%;
      padding: 4px 12px;
    }
    @include media($desktop) {
      width: 80%;
      padding: 4px 12px;
    }
  }

  .spreadLabel {
    width: 20px !important;
    height: 24px;
    border-radius: 4px;
    background: var(--ui-red);
    color: var(--ui-white);
    pointer-events: none;
  }
}

