@import "../../../assests/styles/index";

.Navigation {
  @include media($mobile) {
    display: none;
  }
  @include media($desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    min-height: 93vh;
    padding: 32px 0;
    background: var(--ui-white);
    box-shadow: 0 1px 10px rgba(209, 209, 209, 0.5);
  }

  .links-wrapper {
    .link-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 36px;
      cursor: pointer;
      text-decoration: none;
      color: var(--ui-light-grey);

      .link-image {
        width: 24px;
        height: 24px;
        margin-bottom: 4px;
        cursor: pointer;
      }

      .link-name {
        @include errorMessage;
        cursor: pointer;
      }
    }

    .active {
      color: var(--ui-red)
    }
  }

  .sign-out-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--ui-lightest-red);
    cursor: pointer;
  }
}