@import "src/components/assests/styles/index";
.AddTeamContainer {
  width: 100%;
  @include media($mobile) {
    padding: 0;
  }
  @include media($desktop) {
    padding: 32px 80px;
  }

  &__content-wrapper {
    width: 100%;
    background: var(--ui-white);
    border-radius: 10px;
    margin-bottom: 24px;
    &__header {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 32px;
      border-radius: 10px 10px 0 0;

      .navigate-wrapper {
        display: flex;
        color: var(--ui-red);

        .home-link {
          text-decoration: none;
          color: var(--ui-red);
          cursor: pointer;
        }
      }
    }

    &__content {
      display: flex;
      @include media($mobile) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 48px 24px;
      }
      @include media($desktop) {
        flex-direction: row;
        padding: 48px 73px;
      }

      .image {
        .image-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          opacity: 0.5;
          border-radius: 10px;
          background: var(--ui-light-grey);

          @include media($mobile) {
            width: 185px;
            height: 144px;
          }
          @include media($desktop) {
            width: 336px;
            height: 261px;
          }

          .new-image {
            position: absolute;
            z-index: 100;
          }

          .add-item {
            cursor: pointer;
            z-index: 1000;
            @include media($mobile) {
              width: 41px;
              height: 40px;
            }
            @include media($desktop) {
              width: auto;
              height: auto;
            }
          }
        }
        .image-url-wrapper {
          position: relative;
          margin-top: 24px;

          @include media($mobile) {
            width: 185px;
          }
          @include media($desktop) {
            width: auto;
          }

          .image-url {
            padding-right: 40px;
          }
          .set-image-btn {
            position: absolute;
            top: 8px;
            right: 8px;
            color: var(--ui-lightest-red);
            cursor: pointer;

            &:hover {
              color: var(--ui-red);
            }
          }
        }
      }


      .form-wrapper {
        display: flex;
        justify-content: center;
        flex: 1 1;

        .form {
          @include media($mobile) {
            width: 100%
          }
          @include media($desktop) {
            width: 366px;
          }

          .form-control {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .reset-btn {
              background: var(--ui-white);
              border: 1px solid var(--ui-light-grey);
              margin-right: 12px;
              color: var(--ui-light-grey);
            }
          }
        }
      }
    }
  }
}