@import "src/components/assests/styles/index";

.PlayersContainer {
  width: 100%;

  @include media($mobile) {
    padding: 16px 12px;
  }
  @include media($tablet) {
    padding: 32px 80px;
  }

  .fields-wrapper {
    display: flex;
    margin-bottom: 32px;

    @include media($mobile) {
      flex-direction: column;
      justify-content: center;
    }
    @include media($tablet) {
      flex-direction: row;
      justify-content: left;
    }

    .left-fields {
      display: flex;
      flex: 1 1;
      .playersSearch {
        margin-right: 24px;
      }
    }

    .right-fields {
      .add-item {
        width: 104px;
      }
    }
  }

  .ant-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include media($mobile) {
      justify-content: center;
    }
    @include media($tablet) {
      justify-content: left;
    }
  }

  &__items {
    margin-bottom: 32px;
    min-height: 784px;
  }
}

.Multi-selector {
  &__value-container--has-value {
    flex-wrap: nowrap !important;
  }

  &__control {
    height: 40px !important;
    @include links;

    @include media($mobile) {
      width: auto;
    }
    @include media($tablet) {
      width: 364px !important;
    }
  }

  &__control--is-focused {
    border-color: #D9D9D9 !important;
    box-shadow: 0 0 5px #D9D9D9 !important;
    outline: none !important;
  }

  &__value-container--has-value div:nth-child(1) {
    width: max-content !important;
  }

  &__multi-value {
    display: flex !important;
    align-items: center !important;
    color: var(--ui-white) !important;
    height: 24px !important;
    background-color: var(--ui-red) !important;
    width: max-content !important;
    border-radius: 4px !important;

    &__label {
      color: var(--ui-white) !important;
    }
  }
}