@import "src/components/assests/styles/index";
.EmptyItems {
  @include media($mobile) {
    padding: 0;
  }
  @include media($desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--ui-white);
    border-radius: 15px;

    @include media($mobile) {
      padding: 48px 60px;
    }
    @include media($desktop) {
      padding: 48px 90px;
    }

    img {
      @include media($mobile) {
        margin-bottom: 60px;
      }
      @include media($desktop) {
        margin-bottom: 70px;
      }
    }
    .title {
      color: var(--ui-lightest-red);
      @include emptyDataTitle;

      @include media($mobile) {
        margin-bottom: 45px;
      }
      @include media($desktop) {
        margin-bottom: 24px;
      }
    }
    .message {
      text-align: center;
      color: var(--ui-grey);
      @include emptyDataMessage;
    }
  }
}