@import "src/components/assests/styles/index";

.AddTeamForm {
  display: flex;
  justify-content: center;
  flex: 1 1;

  .form {
    @include media($mobile) {
      width: 100%
    }
    @include media($desktop) {
      width: 366px;
    }

    .formControl {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .resetBtn {
        margin-right: 12px;
      }
    }
  }
}