@import "src/components/assests/styles/index";

.UnprotectedPages {
  display: flex;
  width: 100%;
  height: 100vh;

  &__imageWrapper {
    background: #F5FBFF;
    width: 100%;
    @include media($mobile) {
      display: none;
    }
    @include media($desktop) {
      display: flex;
      background: #F5FBFF;
    }

    .image {
      display: flex;
      background: #F5FBFF;
      width: 100%;
      background: url("../../assests/images/auth.png") center no-repeat;
      background-size: contain;
    }
  }
}