@import "src/components/assests/styles/index";

.TeamsItems {
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  margin-bottom: 40px;

  @include media($mobile) {
    &__itemWrapper {
      height: 200px;
      width: calc(100% / 2 - 12px);
      margin:0 0 12px;
    }
    &__itemWrapper:nth-child(1n-1) {
      margin-left: 6px;
      margin-right: 6px;
    }
  }
  @include media(784px) {
    &__itemWrapper {
      height: 300px;
    }
  }
  @include media($desktop) {
    &__itemWrapper {
      height: 380px;
      width: calc(100% / 3 - 27px);
      margin:0 0 24px;
    }
    &__itemWrapper:nth-child(3n-1) {
      margin-left:12px;
      margin-right:12px;
    }
  }
}

.TeamItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
  border-radius: 4px;
  cursor: pointer;

  @include media($mobile) {
    height: 200px;
  }
  @include media(784px) {
    height: 300px;
  }
  @include media($desktop) {
    height: 380px;
  }

  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    img {
      @include media($mobile) {
        width: 60px;
        height: 50px;
      }
      @include media(784px) {
        width: 100px;
        height: 100px;
      }
      @include media($desktop) {
        width: 150px;
        height: 150px;
      }
    }
  }

  .descriptionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--ui-dark-grey);
    border-radius: 0 0 4px 4px;
    @include media($mobile) {
      height: 94px;
      padding: 0 10px;
    }
    @include media($desktop) {
      height: 100px;
      padding: 0;
    }

    .teamName {
      white-space: nowrap;
      overflow: hidden;
      padding: 5px;
      text-overflow: ellipsis;
      color: var(--ui-white);
      @include cardTitle;
      text-align: center;

      @include media($mobile) {
        max-width: 140px;
      }
      @include media($desktop) {
        max-width: 240px;
      }
    }

    .teamYear {
      color: var(--ui-light-grey);
      @include cardYear;
      text-align: center;
    }
  }
}