:root {
    --ui-dark-grey: #303030;
    --ui-grey: #707070;
    --ui-light-grey: #9C9C9C;
    --ui-lightest-grey: #D1D1D1;
    --ui-lightest-grey1: #F6F6F6;
    --ui-white: #FFFFFF;
    --ui-dark-red: #C60E2E;
    --ui-red: #E4163A;
    --ui-light-red: #FF5761;
    --ui-lightest-red: #FF768E;
    --ui-blue: #344472;

}
