@import "src/components/assests/styles/index";

.PlayersItems {
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-start;

  @include media($mobile) {
    &__item-wrapper {
      height: 200px;
      width: calc(100% / 2 - 12px);
      margin:0 0 12px;
    }
    &__item-wrapper:nth-child(1n-1) {
      margin-left: 6px;
      margin-right: 6px;
    }
  }
  @include media($desktop) {
    &__item-wrapper {
      height: 380px;
      width: calc(100% / 3 - 27px);
      margin:0 0 24px;
    }
    &__item-wrapper:nth-child(3n-1) {
      margin-left:12px;
      margin-right:12px;
    }
  }
}


.PlayerItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
  border-radius: 4px;
  cursor: pointer;

  @include media($mobile) {
    height: 200px;
  }
  @include media($desktop) {
    height: 380px;
  }

  .image-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;

    img {
      @include media($mobile) {
        width: 60px;
        height: 50px;
      }
      @include media($desktop) {
        width: 274px;
        height: 207px;
      }
    }
  }

  .description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--ui-dark-grey);
    border-radius: 0 0 4px 4px;
    @include media($mobile) {
      height: 94px;
      padding: 0 10px;
    }
    @include media($desktop) {
      height: 100px;
      padding: 0;
    }
    .name-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .player-name {
        color: var(--ui-white);
        @include cardTitle;
        text-align: center;
        margin-right: 4px;
      }
      .player-number {
        color: var(--ui-light-red);
        @include cardTitle;
        text-align: center;
      }
    }

    .team-name {
      color: var(--ui-light-grey);
      @include cardYear;
      text-align: center;
    }
  }
}