@import "src/components/assests/styles/index";

.AddPlayerForm {
  display: flex;
  justify-content: center;
  flex: 1 1;

  .form {
    @include media($mobile) {
      width: 100%
    }
    @include media($desktop) {
      width: 366px;
    }

    .fieldsLine {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .fieldsLine > div:nth-child(1)  {
      margin-right: 24px;
    }

    .formControl {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .resetBtn {
        margin-right: 12px;
      }
    }
  }
}