@import "src/components/assests/styles/index";

.MobileNavigation {

}

.MobileNavigation-wrapper {
  top: 7vh !important;
  height: 93vh !important;

  @include media($desktop) {
    display: none !important;
  }

  .ant-drawer-content-wrapper  {
    width: 50% !important;
  }

  .ant-drawer-wrapper-body {
    .mobile-user-info-wrapper {
      display: flex;
      align-items: center;
      @include links;
      color: var(--ui-dark-grey);

      img {
        width: 48px;
        height: 48px;
        margin-right: 8px;
      }
    }

    .ant-drawer-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 32px 24px;
      background: var(--ui-white);
      box-shadow: 0 1px 10px rgba(209, 209, 209, 0.5);

      .links-wrapper {
        .link-wrapper {
          display: flex;
          align-items: center;
          margin-bottom: 36px;
          cursor: pointer;
          text-decoration: none;
          color: var(--ui-light-grey);

          .link-image {
            width: 24px;
            height: 24px;
            margin-right: 4px;
            cursor: pointer;
          }

          .link-name {
            @include errorMessage;
            cursor: pointer;
          }
        }

        .active {
          color: var(--ui-red)
        }
      }

      .sign-out-wrapper {
        display: flex;
        color: var(--ui-lightest-red);
        cursor: pointer;

        .sign-out-image {
          margin-right: 4px;
        }
      }

    }
  }
}

