@import "src/components/assests/styles/index";

.MobileNavigationWrapper {
  position: absolute;
  width: 100%;
  z-index: 1000;
  display: flex;

  &__background {
    width: 50%;
    background: var(--ui-dark-grey1);
    opacity: 0.6;
  }
}
.MobileNavigation {
  display: flex;
  flex-direction: column;
  background: var(--ui-white);
  height: 93vh;
  width: 50%;
  z-index: 10000;

  &__header {
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid var(--ui-lightest-grey);
    padding: 20px;
    @include cardTitle;

    img {
      width: 48px;
      height: 48px;
      margin-right: 8px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    flex: 1 1;

    .linksWrapper {
      .linkWrapper {
        display: flex;
        align-items: center;
        margin-bottom: 36px;
        cursor: pointer;
        text-decoration: none;
        color: var(--ui-light-grey);

        .linkImage {
          width: 24px;
          height: 24px;
          margin-right: 4px;
          cursor: pointer;
        }

        .linkName {
          @include cardYear;
          cursor: pointer;
        }
      }

      .active {
        color: var(--ui-red)
      }
    }

    .signOutWrapper {
      display: flex;
      color: var(--ui-lightest-red);
      cursor: pointer;

      .signOutImage {
        width: 24px;
        height: 24px;
        margin-right: 4px;
      }
    }
  }
}

