@import "src/components/assests/styles/index";

.TeamsContainer {
  width: 100%;

  @include media($mobile) {
    padding: 16px 12px;
  }
  @include media($tablet) {
    padding: 32px 80px;
  }
  .teamSearch {
    margin-bottom: 32px;
  }

  .ant-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item-wrapper {

  }
}

.Pagination {
  display: flex;
  margin-top: 32px !important;

  .page-item {
    @include links;

    .page-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      color: var(--ui-grey);
      cursor: pointer;
      -webkit-user-select: none;
    }
  }

  .page-item.active {
    .page-link {
      background: var(--ui-red);
      color: var(--ui-white);
    }
  }

}