@import "src/components/assests/styles/index";

.TeamsContainer {
  width: 100%;

  @include media($mobile) {
    padding: 16px 12px;
  }
  @include media($tablet) {
    padding: 32px 80px;
  }

  .teamSearch {
    margin-bottom: 32px;
  }

  .ant-row {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
  }



  &__items {
    margin-bottom: 32px;
    min-height: 784px;

    &__item-wrapper {
    }
  }

  &__footer-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.SelectorItemsPerPage {
  &__control {
    width: 88px !important;
    height: 40px !important;
    @include links;
  }

  &__control--is-focused {
    border-color: #D9D9D9 !important;
    box-shadow: 0 0 5px #D9D9D9 !important;
    outline: none !important;
  }

  &__control--menu-is-open {
    width: 88px !important;

    &__label {
      color: var(--ui-white) !important;
    }
  }
}